<!doctype html>
<html>
<head>
	<title>Mileage Tracker</title>
<meta name = "viewport" content = "width = device-width">

	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body>


<div class="container-fluid">
<ul class="breadcrumb">
    <li>
    <a href="<%=uri('/')%>">Home</a> <span class="divider">/</span>
    </li>
    <li class="active">
    <a href="/config">Config</a>
    </li>
</ul>
	
	<ul class="nav nav-tabs nav-stacked">

		<li>
			<h3><a href="<%=uri('/dp/backup')%>">Backup</a></h3>
			<h3><a href="<%=uri('/dp/restore')%>">Restore</a></h3>

		</li>


	</ul>

</div>
</body>
</html>

