<!doctype html>
<html>
<head>
	<title>Mileage Tracker</title>
<meta name = "viewport" content = "width = device-width">

	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body>


<div class="container-fluid">
<ul class="breadcrumb">
    <li>
    <a href="<%=uri('/')%>">Home</a> <span class="divider">/</span>
    </li>
</ul>
	
	<h1><%= @status %> Complete</h1>

</div>
</body>
</html>

